apiVersion: v1
metadata:
  name: cluster-{{ guid.stdout }}
platform:
  aws:
    region: us-east-2
baseDomain: sandbox{{ sbid }}.opentlc.com
publish: External
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    aws:
      type: m4.xlarge
  replicas: 3
networking:
  networkType: OpenShiftSDN
sshKey: '{{ sshkey }}'
pullSecret: '{{ pullsecret }}'
