apiVersion: v1
metadata:
  name: cluster-{{ guid }}
platform:
  aws:
    region: us-east-2
    userTags:
      user: alchan
      test: customer_environment_testing
baseDomain: {{ base_domain }}
publish: External
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      type: {{ config.instance_type }}.xlarge
      rootVolume:
        type: gp2
        size: 250
  replicas: 3
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    aws:
      type: {{ config.instance_type }}.xlarge
      rootVolume:
        type: gp2
        size: 250
  replicas: 3
networking:
  networkType: OVNKubernetes
sshKey: '{{ config.installer_ssh_key }}'
pullSecret: '{{ config.pull_secret | to_json }}'
