apiVersion: v1
metadata:
  name: cluster-{{ guid }}
platform:
  aws:
    region: us-east-2
    userTags:
      user: alchan
      test: "customer env testing"
baseDomain: sandbox{{ sbid }}.opentlc.com
publish: External
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      rootVolume:
        type: io1
        iops: 3000
  replicas: 3
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    aws:
      type: m5.xlarge
  replicas: 3
networking:
  networkType: OVNKubernetes
sshKey: '{{ sshkey }}'
pullSecret: '{{ pullsecret }}'
